<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script>
$(document).ready(function() {

    String.prototype.rtrim = function() {
    return this.replace(/\s+$/, "");
    }

    const reset = () => {
        $(".btn_submit").attr("disabled", false);
        $(".btn_submit").css("background-color", "#EF0051");
        $(".btn_submit").hover(() => { $(".btn_submit").css("background-color", "#D31052") })
    };

    const disable = () => {
        $(".btn_submit").attr("disabled", true);
        $(".btn_submit").css("background-color", "gray");
    }

    function inputPassword(inputData, input){
    let passwordData = inputData;
    passwordInput = input;

        if(passwordData.length < 8){
            passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Merci de rentrer un mot de passe de 8 caractères minimum</div>');
            
        }else  {
            return passwordData;
        }
    } // password verify

     //let url1 = $(location).attr('href');
     let url2 = $(location).attr('pathname');
     let params = url2.split("/reset/");
     let token = params[1];

    $('#new_pass_submit').on('click', (e) =>{  
        e.preventDefault(); 
        disable();

        let newPass = $('#new_password').val();
        let inputPass = $('#new_password');

        let newPassword = inputPassword(newPass, inputPass);

        console.log(newPassword);

        if(newPassword != undefined && token != null) {

             $.ajax({
            type: "POST",
            url:"https://webradio-stream.herokuapp.com/auth/reset/password/"+token,
            headers: {
                'Authorization':'Bearer ' + token
            },
            data: {
                password: newPassword,
            }
            }).done(function (response){
                reset();

                if(response != undefined) {
                   $('#mypassword').css('display', 'block');
                   $("#mypassword").html(response);
                }
                console.log(response);

            }).fail((err) =>{
                reset();
                $('#passwordLost-danger').css("display", "block");
                
                $('#passwordLost-danger').html("Service non trouvable");

                console.log(err);
            });
        }

    });
});
</script>