<div id="id01" class="modal fade">
    <div class="modal-content">
      <div class="container">
        <p>Some text. Some text. Some text.</p>
        <p>Some text. Some text. Some text.</p>
      </div>
    </div>
  </div>