<div class="modal fade" id="planningModal" style="display: block !important; background-color: rgba(0, 0, 0, 0.7); ">
    <div class="modal-dialog" style="border-radius: 20%;">
        <div class="modal-content">
            <div class="rounded-circle imgModalRemove border border1"></div>
                <a class="retour mt-auto mb-1" href="{{ path('profile.index') }}" style="position: absolute; right: 100%; left: -100%;">
                    <i id="fleche-retour" class="fas fa-long-arrow-alt-left" style="color: #f8f9fc;"></i>
                    <button id="bouton-retour" class="btn btn-sm rounded-pill">retour</button>
                </a>
            <div class="modal-body login-body mb-4">
                
                <div class=" row col-sm" style="padding: initial;">
                    <p class="text-center w-100">Vous allez bientôt pouvoir streamer ! </p>
                    <p class="text-center w-100">Restez aux aguets, la fonctionnalité arrive</p>
                </div>
            </div>
        </div>
    </div>
</div>